wallet-soap-service/src/soap/walletService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="WalletService"
    targetNamespace="http://localhost/wallet"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://localhost/wallet"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <documentation>
        Servicio SOAP para operaciones de billetera electrónica
    </documentation>

    <types>
        <xsd:schema targetNamespace="http://localhost/wallet">
            <!-- Solicitud para registrar cliente -->
            <xsd:element name="RegistrarClienteRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="documento" type="xsd:string"/>
                        <xsd:element name="nombres" type="xsd:string"/>
                        <xsd:element name="email" type="xsd:string"/>
                        <xsd:element name="celular" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <!-- Respuesta del registro de cliente -->
            <xsd:element name="RegistrarClienteResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Solicitud para consultar saldo -->
            <xsd:element name="ConsultarSaldoRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="documento" type="xsd:string"/>
                        <xsd:element name="celular" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <!-- Respuesta para consultar saldo -->
            <xsd:element name="ConsultarSaldoResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="saldo" type="xsd:float"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Solicitud para recargar saldo -->
            <xsd:element name="RecargarBilleteraRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="documento" type="xsd:string"/>
                        <xsd:element name="celular" type="xsd:string"/>
                        <xsd:element name="valor" type="xsd:float"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <!-- Respuesta para recargar saldo -->
            <xsd:element name="RecargarBilleteraResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Solicitud para confirmar pago -->
            <xsd:element name="ConfirmarPagoRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="idSesion" type="xsd:string"/>
                        <xsd:element name="token" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <!-- Respuesta para confirmar pago -->
            <xsd:element name="ConfirmarPagoResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Solicitud para pagar -->
            <xsd:element name="PagarRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="documento" type="xsd:string"/>
                        <xsd:element name="celular" type="xsd:string"/>
                        <xsd:element name="monto" type="xsd:float"/>
                        <xsd:element name="referencia" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <!-- Respuesta para pagar -->
            <xsd:element name="PagarResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <!-- Mensajes de solicitud y respuesta -->
    <message name="RegistrarClienteInput">
        <part name="parameters" element="tns:RegistrarClienteRequest"/>
    </message>
    <message name="RegistrarClienteOutput">
        <part name="parameters" element="tns:RegistrarClienteResponse"/>
    </message>
    <message name="ConsultarSaldoInput">
        <part name="parameters" element="tns:ConsultarSaldoRequest"/>
    </message>
    <message name="ConsultarSaldoOutput">
        <part name="parameters" element="tns:ConsultarSaldoResponse"/>
    </message>
    <message name="RecargarBilleteraInput">
        <part name="parameters" element="tns:RecargarBilleteraRequest"/>
    </message>
    <message name="RecargarBilleteraOutput">
        <part name="parameters" element="tns:RecargarBilleteraResponse"/>
    </message>
    <message name="ConfirmarPagoInput">
        <part name="parameters" element="tns:ConfirmarPagoRequest"/>
    </message>
    <message name="ConfirmarPagoOutput">
        <part name="parameters" element="tns:ConfirmarPagoResponse"/>
    </message>
    <message name="PagarInput">
        <part name="parameters" element="tns:PagarRequest"/>
    </message>
    <message name="PagarOutput">
        <part name="parameters" element="tns:PagarResponse"/>
    </message>

    <!-- PortType: operaciones de la billetera -->
    <portType name="WalletPortType">
        <operation name="RegistrarCliente">
            <input message="tns:RegistrarClienteInput"/>
            <output message="tns:RegistrarClienteOutput"/>
        </operation>
        <operation name="ConsultarSaldo">
            <input message="tns:ConsultarSaldoInput"/>
            <output message="tns:ConsultarSaldoOutput"/>
        </operation>
        <operation name="RecargarBilletera">
            <input message="tns:RecargarBilleteraInput"/>
            <output message="tns:RecargarBilleteraOutput"/>
        </operation>
        <operation name="ConfirmarPago">
            <input message="tns:ConfirmarPagoInput"/>
            <output message="tns:ConfirmarPagoOutput"/>
        </operation>
        <operation name="Pagar">
            <input message="tns:PagarInput"/>
            <output message="tns:PagarOutput"/>
        </operation>
    </portType>

    <!-- Binding SOAP -->
    <binding name="WalletBinding" type="tns:WalletPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="RegistrarCliente">
            <soap:operation soapAction="RegistrarCliente"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ConsultarSaldo">
            <soap:operation soapAction="ConsultarSaldo"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="RecargarBilletera">
            <soap:operation soapAction="RecargarBilletera"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ConfirmarPago">
            <soap:operation soapAction="ConfirmarPago"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="Pagar">
            <soap:operation soapAction="Pagar"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <!-- Servicio principal -->
    <service name="WalletService">
        <port name="WalletPort" binding="tns:WalletBinding">
            <soap:address location="http://localhost:4000/soap/wallet"/>
        </port>
    </service>
</definitions>
